*{
    font-size: 20px;
}
.navbar{
    padding: 5px 30px;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: #f8bc3e;
}
.section1{
    padding: 80px 30px;
}
.section1-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section1-side{
    padding: 50px;
    display: flex;
}
.section1-h{
    
    color: #f8bc3e;
    
}
.part-1{
width: 50%;
}
.section1-write{
    width: 50%;
}
.section1-topic{
    color: #f8bc3e;
}
.section1-p{
   
    font-size: 20px;
    padding: 7px 30px;
    padding-left: 10px;
}
.section-list{
   padding: 0px 30px;
   padding-right: 10px;
}
.section-list-list{
    padding: 7px 0px;
}
.section2{
    padding: 50px 20px;
    padding-top: 0px;
}
.section2-pic{
    border-radius: 20px;
    height: auto;
    margin: 7px 0px;
}

footer{
    background-color:#222731;
    color: white;
    padding: 100px 30px;
}
.footer-inner{
    justify-content: space-around;
}
.footer-element{
    padding: 0px 30px;
    width: 30%;
}
.footer-head{
    padding: 10px 0px;
}
.footer-h{
    font-weight: 600;
}
.footer-text{
    padding: 7px 0px;
    font-size: 17px;
    color: gray;
}
.footer-icons{
    padding: 7px 0px;
    align-items: center;
}
.footer-logo{
    margin: 5px 10px;
    color: white;
}
.footer-logo:hover{
    color: #f8bc3e;
}
.footer-list{
    padding: 7px 0px;
    list-style-type: none;
}
.b{
    font-weight: 600;
    color: white;
}
.links-footer{
    color: white;
    font-size: 17px;
    font-weight: 600;
    
}
.links-footer:hover{
color: #f8bc3e;
}
@media screen and (max-width:768px){
    .section1-side{
        display: block;
    }
    .section1-write{
        width: 100%;
    }
    .part-1{
        width: 100%;
    }
}